.idea
public/system
db/rules/*
todo
coverage
junit
tmp
*~
.*.swp
*.DS_Store
*.sassc
.~lock.*#
REVISION
log
.*.log
rerun.txt
.tags
.bundle
vendor/bundle
config/database.yml
config/newrelic.yml
.redcar
*.orig
test/fixtures/tmp/*
tags
config/newrelic.yml
.livereload
Session.vim
bin/
*.log
